<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihome.smarthomeupdate">
    <!-- 地图相关 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许拨号 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 允许访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许读取短信息 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 允许发送短信息 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 手机读取权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序监控一个将收到短信息，记录或处理 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 读取程序信息  IMEI -->
    <uses-permission android:name="android.permission.READ0_PHONE_STATE" /> <!-- 照相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 读取通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" /> <!-- 修改通话记录 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" /> <!-- 允许不同用户的应用之间可以产生交互 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" /> <!-- 获取地理信息位置 -->
    <!-- 精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 粗糙定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许程序更新手机电池统计信息 -->
    <uses-permission android:name="android.permission.BATTERY_STATS" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Android Q后台定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />




    <application
        android:name="com.ihome.smarthomeupdate.base.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:appComponentFactory,allowBackup,icon,label">



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ihome.smarthomeupdate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity

            android:name="com.ihome.smarthomeupdate.module.base.LogActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name="com.ihome.smarthomeupdate.module.home.view.SelectProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ihome.smarthomeupdate.module.mine.view.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity android:name="com.ihome.smarthomeupdate.module.home.view.DataShowActivity" />
        <activity
            android:name="com.ihome.smarthomeupdate.module.base.HomeActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ihome.smarthomeupdate.module.job.view.ReceiptDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ihome.smarthomeupdate.module.job.view.AddNewUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />
        <activity
            android:name="com.ihome.smarthomeupdate.module.mine.view.ExceptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.ihome.smarthomeupdate.module.mine.view.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />


      <!--  <activity android:name=".applockscreen.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity android:name="com.ihome.smarthomeupdate.module.base.BoilerActivity" />

        <activity
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:name="com.ihome.smarthomeupdate.applockscreen.activity.LockScreenActivity" />
        <activity android:name="com.ihome.smarthomeupdate.applockscreen.activity.DetailActivity" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:name="com.ihome.smarthomeupdate.module.base.DHTActivity" />

        <service
            android:priority="1000"
            android:persistent="true"
            android:name="com.ihome.smarthomeupdate.service.FloatingService" />
        <service android:name="com.ihome.smarthomeupdate.service.ConnectionService" />
        <service

            android:name="com.ihome.smarthomeupdate.service.AlarmService" />
        <service android:name="com.ihome.smarthomeupdate.applockscreen.service.LockScreenService" />

        <receiver android:name="com.ihome.smarthomeupdate.applockscreen.receiver.LockScreenReceiver" />
        <receiver android:name="com.ihome.smarthomeupdate.receiver.AlarmReceiver" />



        <receiver
            android:name="com.ihome.smarthomeupdate.appwidget.single.ExampleSingleAppWidget"
            android:label="Single Example">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_app_widget_single_info" />
        </receiver>

        <service android:name="com.ihome.smarthomeupdate.appwidget.list.SampleRemoteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.ihome.smarthomeupdate.appwidget.common.ExampleCommonAppWidget"
            android:label="Common Example">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_app_widget_common_info" />
        </receiver>

        <receiver
            android:name="com.ihome.smarthomeupdate.appwidget.list.ListAppWidget"
            android:label="List Example">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_app_widget_common_info" />
        </receiver>




        <receiver
            android:name="com.ihome.smarthomeupdate.receiver.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
        </receiver>



        <activity
            android:name="com.ihome.smarthomeupdate.basicmanagedprofile.ProfileActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ihome.smarthomeupdate.basicmanagedprofile.EnableProfileActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.ihome.smarthomeupdate.basicmanagedprofile.ProvisioningSuccessActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.ihome.smarthomeupdate.basicmanagedprofile.BasicDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/basic_device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>